.introduction {
    z-index: 10;
    background-color: var(--black);
    padding: 10px 8px 20px;
    border-radius: 10px;
    border: 2px solid var(--white);
}

.title {
    color: var(--white);
    font-size: 33px;
}

.text {
    color: var(--white);
    font-weight: bold;
    padding: 0 0 8px;
}

.link {
    text-decoration: none;
    color: var(--black);
    padding: 3px 5px;
    border-radius: 3px;
    background-color: var(--yellow);
}
.link:hover {
    color: var(--beige);
}