.button {
    border: var(--black) solid 2px;
    border-radius: 10px;
    background-color: var(--white);
    font-weight: bold;
    text-align: center;
    
    &.hogeButton {
        margin: 0;
    }
}