.header {
    position: fixed;
    top: 0;
    z-index: 10;
}

.logoImg {
    width: auto;
    height: 33px;
    position: fixed;
    left: 0;
    z-index: 10;
    margin: 12px 16px;
    align-items: center;
}

ul {
    position: fixed;
    left: 0;
    padding: 20px;
    margin: 0;
    display: flex;
    justify-content: right;
    gap: 20px;
    width: 100%;
    list-style: none;
    background-color: var(--white);
    box-sizing: border-box;
}

li {
    position: relative; /* ← これ超重要 */
}

li:not(:last-child)::after {
    content: "|";
    position: absolute;
    right: -12px;
    color: var(--gray);
}

.link {
    text-decoration: none;
    color: var(--navy);
    font-weight: bold;
    font-size: 16px;
}

.link:hover {
    color: var(--gray);
    border-bottom: var(--gray) solid 1px;
}