.question {
    margin: 0 0 18px;
}
.text {
    color: var(--white);
    font-weight: bold;
    font-size: 18px;
    margin: 0px;
    padding: 0;
}
.input {
    display: inline-flex;
    align-items: center;
    margin: 0;
    padding: 0;
}
.unit {
    color: var(--white);
    margin: 5px 0;
    padding: 9.5px 0 0 2.5px;
    font-weight: bold;
}