.itemFolder {
    margin: 10px 0;
}

.title {
    color: var(--white);
    margin: 0;
    font-size: 18px;
    font-weight: bold;
}

.image {
    border: 2px solid var(--white);
    border-radius: 10px;

    width: 260px;
    height: 130px;
}